.Main{
    width: 100%;
    height: 350px;
}
.first1{
    width: 420px;
    height: 300px;
    position: absolute;
    left: 40px;
    top: 790px;
    box-shadow: 0 2px 6px 0 #656e7b1f;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;

}
.second1{
    width: 420px;
    height: 300px;
    position: absolute;
    left: 550px;
    top: 790px;
    box-shadow: 0 2px 6px 0 #656e7b1f;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;   
}
.third1{
    width: 420px;
    height: 300px;
    position: absolute;
    left: 1070px;
    top: 790px;
    box-shadow: 0 2px 6px 0 #656e7b1f;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;  

}
